<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite parallel="tests" name="Suite">
<listeners>
<listener class-name="DivyaJain.SeleniumFrameworkDesign.TestComponents.Listeners"/>
</listeners>



  <test thread-count="5" name="Stand Alone Test">
    <classes>
      <class name="DivyaJain.SeleniumFrameworkDesign.tests.StandAloneTest"/>
    </classes>
  </test> <!-- Test -->
  
  <test thread-count="5" name="Error Validations Tests">
    <classes>
      <class name="DivyaJain.SeleniumFrameworkDesign.tests.ErrorValidations"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
